#formularioCreacion {
    width: 400px;
    margin:20px auto ;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    gap: 5px;
}

h1 {
    text-align: center;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 1rem;
    background-color: white;
}

button:hover {
    background-color: #0063ff;
}